h5 {
  display: inline-block;
}

.main {
  padding-top: 30px;
}

.duration-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.duration-main__title {
  width: 80%;
}

.block > * {
  margin-bottom: 10px;
}

.block .wrapper > * {
  margin-bottom: 10px;
}

.text-zone > * {
  margin-bottom: 10px;
}

.wrapper {
  padding: 10px 10px;
}

.qty {
  width: 100px;
  margin: auto 0;
  text-align: right;
  -moz-user-select: none;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.qty .count {
  color: #000;
  display: inline-block;
  vertical-align: top;
  font-size: inherit;
  font-weight: 700;
  line-height: 25px;
  padding: 0 2px;
  min-width: 35px;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.qty .plus {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: white;
  width: 25px;
  height: 25px;
  line-height: 22px;
  font-weight: 700;
  text-align: center;
  border-radius: 50%;
}

.qty .minus {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: white;
  width: 25px;
  height: 25px;
  line-height: 22px;
  font-weight: 700;
  text-align: center;
  border-radius: 50%;
  background-clip: padding-box;
}

.minus:hover {
  background-color: #717fe0 !important;
}

.plus:hover {
  background-color: #717fe0 !important;
}

/*Prevent text selection*/
.counter span {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.counter input {
  border: 0;
  width: 2%;
}

.counter input::-webkit-outer-spin-button,
.counter input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.counter input:disabled {
  background-color: transparent;
}

.format-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.format-video h5 {
  margin-right: 10px;
}

.format-video__change {
  display: inline-block;
}

.format-video__preview {
  margin-left: 20px;
  display: inline-block;
  width: 60px;
  height: 30px;
  position: relative;
}

.format-video__preview div {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid orange;
}

.format-video__preview .square {
  height: 100%;
  width: calc(100% / 2);
}

.format-video__preview .rectangle16x9 {
  width: calc((100% / 2) * (16/9));
  height: 100%;
}

.format-video__preview .rectangle9x16 {
  width: calc((100%/2) * (9 / 16));
  height: 100%;
}

.more-colors input[type=checkbox] {
  height: 20px;
  width: 20px;
  padding-right: 10px;
}

.more-colors .form-check-label {
  padding-left: 10px;
  width: 100%;
}

.video-slide {
  background-color: #efe7f1;
  border-radius: 5px;
  height: auto;
}

.video-slide__change {
  display: inline-block;
  width: auto;
  margin-left: 15px;
}

.video-slide .title-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.video-slide .title-line .right-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video-slide .title-line .right-title .duration-title {
  display: inline-block;
  margin-bottom: 4px;
  margin-right: 5px;
}

.video-slide .title-line .right-title .counter {
  display: inline-block;
}

/* User styles */
@media screen and (min-width: 911px) {
  .ant-carousel {
    max-width: 810px;
  }
}

@media screen and (min-width: 641px) and (max-width: 910px) {
  .ant-carousel {
    max-width: 540px;
  }
}

@media screen and (max-width: 640px) {
  .ant-carousel {
    max-width: 270px;
  }
}

.chooseAnimation-zone {
  padding-bottom: 25px;
}

.ant-carousel {
  margin: 0 auto;
  padding-top: 10px;
}

.ant-carousel-element {
  width: 180px;
  text-align: center;
  margin: 0 5px;
}

.ant-carousel-element img {
  width: inherit;
}

/* General styles */
.ant-carousel {
  width: auto;
  position: relative;
}

.ant-carousel-hider {
  overflow: hidden;
}

.ant-carousel-list {
  width: auto;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.ant-carousel-element {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.ant-carousel-element img {
  position: relative;
}

/* Navigation item styles */
div.ant-carousel-arrow-left,
div.ant-carousel-arrow-right {
  width: 22px;
  height: 40px;
  position: absolute;
  cursor: pointer;
  opacity: 0.6;
  z-index: 32;
}

div.ant-carousel-arrow-left {
  left: 20px;
  top: 40%;
  display: block;
  background: url("http://pvbk.spb.ru/inc/carousel/ant-files/ant-arrow-left.png") no-repeat;
}

div.ant-carousel-arrow-right {
  right: 20px;
  top: 40%;
  display: block;
  background: url("http://pvbk.spb.ru/inc/carousel/ant-files/ant-arrow-right.png") no-repeat;
}

div.ant-carousel-arrow-left:hover {
  opacity: 1.0;
}

div.ant-carousel-arrow-right:hover {
  opacity: 1.0;
}

div.ant-carousel-dots {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  bottom: -30px;
  z-index: 30;
  text-align: center;
}

span.ant-dot {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  padding: 0;
  display: inline-block;
  background-color: #BBB;
  border-radius: 5px;
  cursor: pointer;
}

.disable-animation-img {
  position: absolute;
  content: "";
  top: 10px;
  height: 0;
  width: inherit;
  height: 58%;
  background-color: rgba(0, 0, 0, 0.3);
}
/*# sourceMappingURL=style.css.map */