h5 {
  display: inline-block;
}

.hide {
  display: none;
}

.show {
  display: none;
}

.main {
  padding-top: 30px;
}

.duration-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.duration-main__title {
  width: 80%;
}

.block {
  margin-bottom: 20px;
}

.block .mini-block {
  margin-bottom: 20px;
}

.block > * {
  margin-bottom: 10px;
}

.block .wrapper > * {
  margin-bottom: 10px;
}

.text-zone > * {
  margin-bottom: 10px;
}

.wrapper {
  padding: 10px 10px;
}

@media screen and (max-width: 450px) {
  .duration-main__title {
    width: 60%;
  }
}

p {
  margin-bottom: 0;
}

.qty {
  width: 100px;
  margin: auto 0;
  text-align: right;
  -moz-user-select: none;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.qty .count {
  color: #000;
  display: inline-block;
  vertical-align: top;
  font-size: inherit;
  font-weight: 700;
  line-height: 25px;
  padding: 0 2px;
  min-width: 35px;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.qty .plus {
  background-color: #646464 !important;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: white;
  width: 25px;
  height: 25px;
  line-height: 22px;
  font-weight: 700;
  text-align: center;
  border-radius: 50%;
}

.qty .minus {
  background-color: #646464 !important;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: white;
  width: 25px;
  height: 25px;
  line-height: 22px;
  font-weight: 700;
  text-align: center;
  border-radius: 50%;
  background-clip: padding-box;
}

.minus:hover {
  background-color: #717fe0 !important;
}

.plus:hover {
  background-color: #717fe0 !important;
}

/*Prevent text selection*/
.counter span {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.counter input {
  border: 0;
  width: 2%;
}

.counter input::-webkit-outer-spin-button,
.counter input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.counter input:disabled {
  background-color: transparent;
}

.format-video {
  margin-bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.format-video h5 {
  margin-right: 10px;
}

.format-video__change {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 10px;
}

.format-video__preview {
  margin-bottom: 10px;
  display: inline-block;
  width: 60px;
  height: 30px;
  position: relative;
}

.format-video__preview .square,
.format-video__preview .rectangle16x9,
.format-video__preview .rectangle9x16,
.format-video__preview .custom-size-preview {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  border: 1px solid orange;
}

.format-video__preview .square {
  height: 30px;
  width: 30px;
}

.format-video__preview .rectangle16x9 {
  width: calc(30px * (16/9));
  height: 30px;
}

.format-video__preview .rectangle9x16 {
  width: calc(30px * (9 / 16));
  height: 30px;
}

.format-video__preview .custom-size-preview {
  max-width: 100%;
  height: 0px;
  border: none;
}

.format-video__input-size {
  display: inline-block;
  margin-right: 20px;
  padding-bottom: 10px;
}

.format-video__input-size * {
  display: inline-block;
}

.format-video__input-size p {
  margin: 0;
  font-weight: 600;
}

.format-video__input-size input {
  width: 70px;
}

.form-check input[type=checkbox] {
  height: 20px;
  width: 20px;
  padding-right: 10px;
}

.form-check .form-check-label {
  padding-left: 10px;
  width: 100%;
}

.mini-block textarea {
  margin-bottom: 5px;
}

.form-check-inline {
  margin-bottom: 3px;
}

.form-check-inline .form-check-label {
  padding-left: 5px;
  line-height: 1.2;
}

.video-slide {
  background-color: #efe7f1;
  border-radius: 5px;
  height: auto;
}

.video-slide__change {
  display: inline-block;
  width: auto;
  margin-left: 15px;
}

.video-slide .title-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.video-slide .title-line .right-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video-slide .title-line .right-title .duration-title {
  display: inline-block;
  margin-bottom: 4px;
  margin-right: 5px;
}

.video-slide .title-line .right-title .counter {
  display: inline-block;
}

@media screen and (max-width: 565px) {
  .title-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .title-line .right-title {
    margin: 7px 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .title-line .right-title .duration-title {
    display: inline-block;
    margin-bottom: 4px;
    margin-right: 5px;
  }
  .title-line .right-title .counter {
    display: inline-block;
  }
}

/* User styles */
@media screen and (min-width: 911px) {
  .ant-carousel {
    max-width: 810px;
  }
}

@media screen and (min-width: 641px) and (max-width: 910px) {
  .ant-carousel {
    max-width: 540px;
  }
}

@media screen and (max-width: 640px) {
  .ant-carousel {
    max-width: 270px;
  }
}

.wrapper .chooseAnimation-zone {
  margin-bottom: 10px;
}

.slick-initialized img {
  width: 100%;
  position: relative;
}

.slick-initialized img {
  width: 100%;
  position: relative;
}

.slick-slide {
  margin: 0 5px;
  outline: none;
}

.slick-slide::after {
  position: absolute;
  content: "";
  top: 0;
  height: 0;
  width: inherit;
  height: 100%;
  background-color: rgba(239, 231, 242, 0.6);
}

.slick-current::after {
  position: absolute;
  content: "";
  top: 0;
  height: 0;
  width: inherit;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.001);
}

.slick-slide p {
  text-align: center;
}

.slick-arrow.slick-next {
  top: 35%;
  right: 0px;
  z-index: 1000;
}

.slick-prev.slick-arrow {
  top: 35%;
  left: 0px;
  z-index: 1000;
}

.btn-zone {
  text-align: right;
}

.btn-zone .btn-remove-slide {
  position: relative;
}

.btn-zone .btn-remove-slide ion-icon {
  position: absolute;
  top: 8px;
  left: 5px;
  line-height: 20px;
}

.btn-zone .btn-remove-slide p {
  display: inline-block;
  padding-left: 15px;
}

.btn-zone .btn-outline-danger {
  display: inline-block;
  text-align: right;
}

.add-item-block, .inside {
  text-align: center;
}

.add-item-block .add-item, .inside .add-item {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: inline-block;
}

.add-item-block .add-item p:first-child, .inside .add-item p:first-child {
  font-size: 30px;
  font-weight: bold;
  line-height: 20px;
}

.add-item-block .add-item p:last-child, .inside .add-item p:last-child {
  padding-bottom: 10px;
  vertical-align: middle;
  padding-left: 3px;
}

.add-item-block .add-item p, .inside .add-item p {
  display: inline-block;
  margin: 0;
}

.inside .add-item p:first-child {
  font-size: 25px;
  font-weight: bold;
  line-height: 20px;
  color: #000;
  opacity: .5;
}

.inside .add-item p:last-child {
  padding-bottom: 8px;
  vertical-align: middle;
  padding-left: 0;
  color: #4b4b4b;
}

.inside .add-item p {
  font-size: 0.9rem;
  display: inline-block;
  margin: 0;
}

.attach-block {
  position: relative;
}

.attach-block .form-control-file {
  display: none;
}

.attach-block .my-file-input {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.attach-block .my-file-input ion-icon {
  position: absolute;
  left: -8px;
}

.attach-block .my-file-input P {
  display: inline-block;
  border-bottom: 2px dotted #a19d94;
  line-height: 29px;
  margin-left: 20px;
}

.attach-block.for-logo {
  margin-bottom: 15px;
}

.attach-block.for-product .my-file-input {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.attach-block.for-product .my-file-input ion-icon {
  width: 22px;
  color: #636363;
  position: absolute;
  left: 0px;
}

.attach-block.for-product .my-file-input P {
  display: inline-block;
  border-bottom: 2px dotted #a19d94;
  line-height: 29px;
  margin-left: 26px;
}

.solo-check {
  margin-bottom: 10px;
}

.product-block {
  padding: 13px 7px 7px 7px;
  border-radius: 7px;
  background-color: #ffffff;
  margin-bottom: 5px !important;
  margin-top: 10px;
}

.product-block .form-row:first-child {
  margin-bottom: 6px;
}

.delete-item {
  height: 100%;
  text-align: center;
}

.delete-item .close {
  float: none;
  text-align: center;
  display: inline-block;
  position: relative;
  width: 36px;
  height: 16px;
  opacity: 0.5;
  cursor: pointer;
}

.delete-item .close:hover {
  opacity: 1;
}

.delete-item .close:before,
.delete-item .close:after {
  position: absolute;
  left: 7px;
  left: 50%;
  content: ' ';
  height: 16px;
  width: 2px;
  background-color: #333;
}

.delete-item .close:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.delete-item .close:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media (max-width: 576px) {
  .product-block .col-12 {
    margin-bottom: 7px;
  }
}
/*# sourceMappingURL=style.css.map */