// MAIN
$pink-color: #efe7f1;

h5 {
    display: inline-block;
}

.hide {
    display: none;
}

.show {
    display: none;
}

// --- FIRST MAIN BLOCK --- //
.main {
    padding-top: 30px;
}

button.add-item {
    border: none;
    background: none;
    outline: none;
}

.duration-main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.duration-main__title {
    width: 80%;
}

.block {
    margin-bottom: 20px;
}

.block .mini-block {
    margin-bottom: 20px;
}


.block>* {
    margin-bottom: 10px;
}

.block .wrapper>* {
    margin-bottom: 10px;
}

.text-zone>* {
    margin-bottom: 10px;
}

.wrapper {
    padding: 10px 10px
}

@media screen and (max-width: 450px) {
    .duration-main__title {
        width: 60%;
    }
}

p {
    margin-bottom: 0;
}

//LAST MAIN BLOCK
.main-comment {
    margin-top: 15px;
}

.main-btn {
    text-align: center;

    button {
        width: 30%;
    }

}

// COUNTER 
.main-counter.notice {
    position: relative;

    &::after {
        content: "нельзя";
        top: 100%;
        right: 20%;
        position: absolute;
        width: 140%;
        background-color: lightsalmon;
    }
}

.qty {
    width: 100px;
    margin: auto 0;
    text-align: right;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.qty .count {
    color: #000;
    display: inline-block;
    vertical-align: top;
    font-size: inherit;
    font-weight: 700;
    line-height: 25px;
    padding: 0 2px;
    min-width: 35px;
    text-align: center;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    background: transparent;
}

.qty .plus {

    background-color: #646464;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 25px;
    height: 25px;
    line-height: 22px;
    font-weight: 700;
    text-align: center;
    border-radius: 50%;
}

.qty .minus {
    background-color: #646464;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 25px;
    height: 25px;
    line-height: 22px;
    font-weight: 700;
    text-align: center;
    border-radius: 50%;
    background-clip: padding-box;
    position: relative;
}

.qty .minus.disabled {
    background-color: #a1a1a1;

    &.no-touch{

        &:hover {
            background-color: none;
        }
    
        &:hover::after {
            content: "";
        }
    }
}

.qty.main-counter .minus.disabl {
    background-color: #a1a1a1;
    &:hover {
        background-color: none;
    }
}

.qty.main-counter .minus.disabled {
    &.no-touch{
    &:hover::after {
        content: "Cначала уменьшите количество слайдов";
        top: 100%;
        right: 20%;
        position: absolute;
        width: fit-content;
        background-color: lightsalmon;
        padding: 5px;
    }
}
}
.qty.main-counter .minus.disabl {
    &.no-touch{
    &:hover::after {
        content: "";
    }
}
}



.qty .plus.disabled {
    background-color: #a1a1a1;

    &.no-touch{
    &:hover {
        background-color: none;
    }
}
}


.minus:hover {
    &.no-touch{
    background-color: #f89b4f;
    }
}

.plus:hover {
    &.no-touch{
    background-color: #f89b4f;
    }
}

/*Prevent text selection*/
.counter span {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.counter input {
    border: 0;
    width: 2%;
}

.counter input::-webkit-outer-spin-button,
.counter input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.counter input:disabled {
    background-color: transparent;
}


// Format video
.format-video {
    margin-bottom: 0px;
    display: flex;
    flex-wrap: wrap;

    h5 {

        margin-right: 10px;
    }

    &__change {
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 10px;
    }

    &__preview {
        margin-bottom: 10px;
        display: inline-block;
        width: 60px;
        height: 30px;
        //background-color: wheat;
        position: relative;

        .square,
        .rectangle16x9,
        .rectangle9x16,
        .custom-size-preview{
            position: relative;
            border: 1px solid orange;
            &::after{
                position: absolute;
                content: "";
                top: 50%;
                left: 50%;
                transform: translate(-20%, -50%);
                border: 5px solid transparent; /* Прозрачные границы */
                border-left: 8px solid orange; /* Добавляем треугольник */
            }
        }
       /*  custom-size-preview {
            position: relative;
            border: 1px solid orange;
            &::after{
                position: absolute;
                content: "";
            }
        }
 */
        $preview-height: 30px;

        .square {
            height: $preview-height;
            width: $preview-height;
        }

        .rectangle16x9 {
            width: calc(#{$preview-height} * (16/9));
            height: $preview-height;
        }

        .rectangle9x16 {
            width: calc(#{$preview-height} * (9 / 16));
            height: $preview-height;
        }

        .custom-size-preview {
            max-width: 100%;
            height: 0px;
            border: none;
        }
    }

    &__input-size {
        display: inline-block;
        margin-right: 20px;
        padding-bottom: 10px;

        * {
            display: inline-block;
        }

        p {
            margin: 0;
            font-weight: 600;
        }

        input {
            width: 70px;
        }

    }
}

.form-check {
    input[type=checkbox] {
        height: 20px;
        width: 20px;
        padding-right: 10px;
    }

    .form-check-label {
        padding-left: 10px;
        width: 100%;
    }

}

.mini-block textarea {
    margin-bottom: 5px;
}

.form-check-inline {
    margin-bottom: 3px;

    .form-check-label {
        padding-left: 5px;
        line-height: 1.2;
    }
}

.for-logo label.form-check-label{
    padding-top: 3px;
}

// SLIDE

.video-slide {
    background-color: #ffe6b0;
    border-radius: 5px;
    height: auto;

    &__change {
        display: inline-block;
        width: auto;
        margin-left: 15px;
    }

    .title-line {
        display: flex;
        justify-content: space-between;

        .right-title {
            display: flex;
            align-items: center;

            .duration-title {
                display: inline-block;
                margin-bottom: 4px;
                margin-right: 5px;
            }

            .counter {
                display: inline-block;
            }
        }
    }
}

@media screen and (max-width: 565px) {
    .title-line {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .right-title {
            margin: 7px 0 0 0;
            display: flex;
            align-items: center;

            .duration-title {
                display: inline-block;
                margin-bottom: 4px;
                margin-right: 5px;
            }

            .counter {
                display: inline-block;
            }
        }

    }
}


//carousel 

/* User styles */
@media screen and (min-width: 911px) {
    .ant-carousel {
        max-width: 810px;
    }
}

@media screen and (min-width: 641px) and (max-width: 910px) {
    .ant-carousel {
        max-width: 540px;
    }
}

@media screen and (max-width: 640px) {
    .ant-carousel {
        max-width: 270px;
    }
}

.wrapper .chooseAnimation-zone {
    margin-bottom: 20px;
}


.slick-initialized img {
    width: 100%;
    position: relative;
}

.slick-initialized img {
    width: 100%;
    position: relative;
}


.slick-slide {
    margin: 0 5px;
    outline: none;
}

.slick-slide::after {
    position: absolute;
    content: "";
    top: 0;
    height: 0;
    width: inherit;
    height: 100%;
    background-color: rgba($color: #efe7f2, $alpha: .6);
    background-color: rgba(253, 232, 179, .6);
}

.slick-current::after {
    position: absolute;
    content: "";
    top: 0;
    height: 0;
    width: inherit;
    height: 100%;
    background-color: rgba($color: #ffffff, $alpha: 0.001);
}

.slick-slide p {
    text-align: center;
}

.slick-arrow.slick-next {
    top: 35%;
    right: 0px;
    z-index: 1000;
}

.slick-prev.slick-arrow {
    top: 35%;
    left: 0px;
    z-index: 1000;
}

// button delete
.btn-zone {
    text-align: right;

    .btn-remove-slide {
        position: relative;

        ion-icon {
            position: absolute;
            top: 8px;
            left: 5px;
            line-height: 20px;
        }

        p {
            display: inline-block;
            padding-left: 15px;
        }
    }

    .btn-outline-danger {
        display: inline-block;
        text-align: right;
    }
}

@media screen and (max-width: 465px) {
    .btn-zone {
        //text-align: left;
    }
}

// add slide
.add-item-block {
    text-align: center;
    margin-bottom: 20px;

    .add-item {
        cursor: pointer;
        user-select: none;
        display: inline-block;
        position: relative;

        &:disabled:hover::after {
            position: absolute;
            top: 0;
            width: 100%;
            left: 120%;
            content: "Добавьте общую длительность";
            background-color: rgb(255, 0, 0);

        }

        p:first-child {
            font-size: 30px;
            font-weight: bold;
            line-height: 20px;

        }

        p:last-child {
            padding-bottom: 10px;
            vertical-align: middle;
            padding-left: 3px;
        }

        p {
            display: inline-block;
            margin: 0;
        }
    }
}

.inside {
    @extend .add-item-block;

    .add-item {
        p:first-child {
            //Значок
            font-size: 25px;
            font-weight: bold;
            line-height: 20px;
            color: #000;
            opacity: .5;
        }

        p:last-child {
            //Текст
            padding-bottom: 8px;
            vertical-align: middle;
            padding-left: 0;
            color: #4b4b4b
        }

        p {
            font-size: 0.9rem;
            display: inline-block;
            margin: 0;
        }
    }
}


// SLIDER LOGO
.last-main-block {
    .attach-block.extra {
        .form-control-file {
            top: 2px;
            left: 170px;
        }

        .my-file-input {
            width: 300px;
        }
    }
}

.logo-part .attach-block.for-logo,
.stock-part .attach-block.for-logo,
.contact-part .attach-block.for-logo{
    .my-file-input{
        position: relative;
        z-index: 10;
        width: 190px;
        background-color: #ffe6b0;
    }
    .form-control-file{
        left: 60px;
        z-index: 0;
    }
}
.contact-part .attach-block.for-logo,
.stock-part .attach-block.for-logo{
    .my-file-input{
        width: 230px;
    }
    .form-control-file{
        left: 100px;
    }

}


.attach-block.for-logo,
.attach-block.extra {
    position: relative;

    .form-control-file {
        color: #a19d94;
        display: inline-block;
        position: absolute;
        top: 2px;
        left: 55px;
        z-index: -100;
        outline: none;
        width: auto;
    }

    .my-file-input {
        cursor: pointer;
        display: flex;
        width: 185px;
        height: 33px;
        background-color: #fff;

        ion-icon {
            position: absolute;
            left: -8px;
            top: 3px
        }

        P {
            display: inline-block;
            border-bottom: 2px dotted #a19d94;
            line-height: 31px;
            margin-left: 20px;
        }
    }
}

.attach-block.for-logo {
    //margin-bottom: 18px;
    h5 {
        display: inline-block;
        border-bottom: 2px dotted #a19d94;
        line-height: 29px;
        margin-left: 26px;
        height: 30px;
    }
    .my-file-input {
        width: 240px;
    }
    .form-control-file {
        left: 110px;
    }
}

.attach-block.for-product {
    position: relative;
    margin-bottom: 20px;

    &::after {
        z-index: 1;
        position: absolute;
        content: "";
        width: 135px;
        height: 40px;
        background-color: #fff;
        top: 28px;
        left: -135px;
    }
    .my-file-input {
        cursor: pointer;
        display: flex;
        user-select: none;
        background-color: #fff;
        width: fit-content;
        z-index: 100;
        position: relative;

        ion-icon {
            width: 22px;
            color: #636363;
            position: absolute;
            left: 0px;
        }

        P {
            display: inline-block;
            border-bottom: 2px dotted #a19d94;
            line-height: 29px;
            margin-left: 26px;
        }
    }

    .form-control-file {
        color: #a19d94;
        display: inline-block;
        position: absolute;
        top: 30px;
        left: -131px;
        z-index: 0;
        outline: none;
        width: 200%;
    }
    @media (min-width:570px) and (max-width:770px) {
       
        .form-control-file {
            width: 180%;
        }
    }
    @media (min-width:990px) and (max-width:1200px) {
       
        .form-control-file {
            width: 170%;
        }
    }

}

@media screen and (max-width: 577px) {
    .attach-block.for-product {
        &::after {
            display: none;
        }
        .form-control-file {
            width: auto;
            color: #a19d94;
            display: inline-block;
            position: absolute;
            top: 1px;
            left: 4px;
            z-index: 0;
            outline: none;
            width: 100%;
        }
        .my-file-input {
            width: 135px;
            height: 33px;
            ion-icon {
            top: 2px;
                left: 0px;
            }
        }
    }
};

@media screen and (max-width: 453px) {
    .attach-block.for-logo {
        &::after {
            z-index: 0;
            position: absolute;
            content: "";
            width: 30px;
            height: 34px;
            background-color: #fff;
            top: 35px;
            left: -30px;
        }

        .form-control-file {
            top: 37px;
            left: -130px !important;
            width: 130%;
        }

        .my-file-input {
            margin-bottom: 40px;
     
        }
    }
    .logo-part, .contact-part, .stock-part{
        .attach-block.for-logo {
            &::after {
                z-index: 0;
                position: absolute;
                content: "";
                width: 30px;
                height: 34px;
                background-color: #fff;
                top: 35px;
                left: -30px;
            }
            &::before {
                z-index: 1;
                position: absolute;
                content: "";
                width: 12px;
                height: 34px;
                background-color: #ffe6b0;
                top: 35px;
                left: -10px;
            }
        }
    }
    
}

@media screen and (max-width: 478px) {
    .last-main-block {
        .attach-block.extra {
            &::after {
                z-index: -10;
                position: absolute;
                content: "";
                width: 30px;
                height: 34px;
                background-color: #fff;
                top: 35px;
                left: -28px;
            }

            .form-control-file {
                top: 37px;
                left: -130px;
            }

            .my-file-input {
                margin-bottom: 40px;
            }
        }
    }
}

.form-check.for-logo{
    margin-bottom: 15px;
}

.solo-check {
    margin-bottom: 10px;
}

//Product .mini-block

.product-block {
    padding: 13px 7px 7px 7px;
    border-radius: 7px;
    background-color: #ffffff;
    margin-bottom: 5px !important;
    margin-top: 10px;

    .form-row:nth-child(1) {
        margin-bottom: 6px;
    }

    .form-row:nth-child(2) .col-12 {
        position: relative;
        z-index: 10;
    }
    .form-row:nth-child(3) .col {
        position: relative;
        z-index: 100;
    }
}

;

.delete-item {
    height: 100%;
    text-align: center;

    .close {
        //position:re;
        float: none;
        text-align: center;
        display: inline-block;
        position: relative;
        width: 36px;
        height: 16px;
        opacity: 0.5;
        cursor: pointer;
    }

    .close:hover {
        opacity: 1;
    }

    .close:before,
    .close:after {
        position: absolute;
        left: 7px;
        left: 50%;
        content: ' ';
        height: 16px;
        width: 2px;
        background-color: #333;
    }

    .close:before {
        transform: rotate(45deg);
    }

    .close:after {
        transform: rotate(-45deg);
    }
}

@media (max-width: 576px) {
    .product-block .col-12 {
        margin-bottom: 7px;
    }
}