// MAIN
$pink-color: #efe7f1;

h5 {
    display: inline-block;
}

/* .hide {
    display: none;
}
.show {
    display: none;
}
 */

//Маштабирование IOS
@media screen and (-webkit-min-device-pixel-ratio:0) { 
    select,
    textarea,
    input {
      font-size: 16px;
    }
  }

// --- FIRST MAIN BLOCK --- //
.main {
    padding-top: 60px;
    justify-content: center;
}

button.add-item {
    border: none;
    background: none;
    outline: none;
}

.duration-main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.duration-main__title {
    width: 80%;
}

.block {
    margin-bottom: 40px;
}

.block .mini-block {
    margin-bottom: 30px;
}

.block>* {
    margin-bottom: 20px;
}

.block .wrapper>* {
    margin-bottom: 20px;
}

.text-zone{
    margin-bottom: 25px;
  &>* {
      margin-bottom: 15px;
   }
}
.wrapper {
    padding: 20px 20px
}

@media screen and (max-width: 450px) {
    .duration-main__title {
        width: 60%;
    }
}

p {
    margin-bottom: 0;
}

//LAST MAIN BLOCK
.main-comment {
    margin-top: 25px;
}

.main-btn {
    text-align: center;

    button {
        //width: 30%;
        width: 130px;
    }

}

// COUNTER 
.main-counter.notice {
    position: relative;
    &::after {
        content: "нельзя";
        top: 100%;
        right: 20%;
        position: absolute;
        width: 140%;
        background-color: lightsalmon;
    }
}

.qty {
    width: 100px;
    //margin: auto 0;
    text-align: right;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.qty .count {
    color: #000;
    display: inline-block;
    vertical-align: top;
    font-size: inherit;
    font-weight: 700;
    line-height: 25px;
    padding: 0 2px;
    min-width: 35px;
    text-align: center;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    background: transparent;
}

.qty .plus {

    background-color: #646464;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 25px;
    height: 25px;
    line-height: 22px;
    font-weight: 700;
    text-align: center;
    border-radius: 50%;
}

.qty .minus {
    background-color: #646464;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 25px;
    height: 25px;
    line-height: 22px;
    font-weight: 700;
    text-align: center;
    border-radius: 50%;
    background-clip: padding-box;
    position: relative;
}

.qty .minus.disabled,
.qty.main-counter .minus.disabl {
    background-color: #a1a1a1;
}

.no-touchevents {

    .qty .minus.disabled,
    .qty.main-counter .minus.disabl {

        &:hover {
            background-color: none;
        }

        &:hover::after {
            content: "";
        }
    }
}

.no-touchevents {
    .qty.main-counter .minus.disabled {
        &:hover::after {
            content: "Cначала уменьшите количество слайдов";
            top: 100%;
            right: 20%;
            position: absolute;
            width: fit-content;
            background-color: lightsalmon;
            padding: 5px;
            z-index: 100;
        }
    }
}

.no-touchevents {
    .qty.main-counter .minus.disabl {

        &:hover::after {
            content: "";
        }
    }
}

.qty .orange {
    background-color: #f89b4f;
}

.qty .plus.disabled {
    background-color: #a1a1a1;
}

.no-touchevents {

    &:hover {
        background-color: none;
    }
}

.no-touchevents {
    .minus:hover {
        background-color: #f89b4f;
    }
}


.no-touchevents {
    .plus:hover {
        background-color: #f89b4f;
    }
}


/*Prevent text selection*/
.counter span {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.counter input {
    border: 0;
    width: 2%;
}

.counter input::-webkit-outer-spin-button,
.counter input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.counter input {
    background-color: transparent;
}


// Format video
.format-video {
    margin-bottom: 18px;
    display: flex;
    flex-wrap: wrap;

    h5 {
        margin-right: 10px;
    }

    &__change {
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 10px;
    }

    &__preview {
        margin-bottom: 10px;
        display: inline-block;
        width: 60px;
        height: 30px;
        //background-color: wheat;
        position: relative;

        .square,
        .rectangle16x9,
        .rectangle9x16,
        .custom-size-preview {
            position: relative;
            border: 1px solid orange;

            &::after {
                position: absolute;
                content: "";
                top: 50%;
                left: 50%;
                transform: translate(-20%, -50%);
                border: 5px solid transparent;
                /* Прозрачные границы */
                border-left: 8px solid orange;
                /* Добавляем треугольник */
            }
        }

        /*  custom-size-preview {
            position: relative;
            border: 1px solid orange;
            &::after{
                position: absolute;
                content: "";
            }
        }
 */
        $preview-height: 30px;

        .square {
            height: $preview-height;
            width: $preview-height;
        }

        .rectangle16x9 {
            width: calc(#{$preview-height} * (16/9));
            height: $preview-height;
        }

        .rectangle9x16 {
            width: calc(#{$preview-height} * (9 / 16));
            height: $preview-height;
        }

        .custom-size-preview {
            max-width: 100%;
            height: 0px;
            border: none;
        }
    }

    &__input-size {
        display: inline-block;
        margin-right: 20px;
        padding-bottom: 10px;

        * {
            display: inline-block;
        }

        p {
            margin: 0;
            font-weight: 600;
        }

        input {
            width: 90px;
        }

    }
}


//Main-others
.colors-block > *{
    margin-bottom: 15px;

}
.form-check {
    input[type=checkbox] {
        height: 20px;
        width: 20px;
        padding-right: 10px;
    }

    .form-check-label {
        padding-left: 10px;
        width: 100%;
    }

}

.mini-block textarea {
    margin-bottom: 5px;
}

.form-check-inline {
    margin-bottom: 6px;

    .form-check-label {
        padding-left: 5px;
        line-height: 1.2;
    }
}

.for-logo label.form-check-label {
    padding-top: 3px;
}

// SLIDE
.video-slide {
    background-color: #ffe6b0;
    border-radius: 5px;
    height: auto;

    &__change {
        display: inline-block;
        width: auto;
        margin-left: 15px;
    }

    .title-line {
        display: flex;
        justify-content: space-between;

        .right-title {
            display: flex;
            align-items: center;

            .duration-title {
                display: inline-block;
                margin-bottom: 4px;
                margin-right: 5px;
            }

            .counter {
                display: inline-block;
            }
        }
    }
}

@media screen and (max-width: 482px) {
    .title-line {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .right-title {
            margin: 17px 0 0 0;
            display: flex;
            align-items: center;

            .duration-title {
                display: inline-block;
                margin-bottom: 4px;
                margin-right: 5px;
            }

            .counter {
                display: inline-block;
            }
        }
    }
}


//Carousel 
/* User styles */
@media screen and (min-width: 911px) {
    .ant-carousel {
        max-width: 810px;
    }
}

@media screen and (min-width: 641px) and (max-width: 910px) {
    .ant-carousel {
        max-width: 540px;
    }
}

@media screen and (max-width: 640px) {
    .ant-carousel {
        max-width: 270px;
    }
}

.wrapper .chooseAnimation-zone {
    margin-bottom: 30px;
}

.slick-initialized img {
    width: 100%;
    position: relative;
}

.slick-initialized img {
    width: 100%;
    position: relative;
}


.slick-slide {
    margin: 0 5px;
    outline: none;
}

.slick-slide::after {
    position: absolute;
    content: "";
    top: 0;
    height: 0;
    width: inherit;
    height: 100%;
    background-color: rgba($color: #efe7f2, $alpha: .6);
    background-color: rgba(253, 232, 179, .6);
}

.slick-current::after {
    position: absolute;
    content: "";
    top: 0;
    height: 0;
    width: inherit;
    height: 100%;
    background-color: rgba($color: #ffffff, $alpha: 0.001);
}

.slick-slide p {
    text-align: center;
}

.slick-arrow.slick-next {
    top: 35%;
    right: 0px;
    z-index: 1000;
}

.slick-prev.slick-arrow {
    top: 35%;
    left: 0px;
    z-index: 1000;
}

// button delete
.btn-zone {
    text-align: right;
    margin-top: 30px;

    .btn-remove-slide {
        position: relative;

        ion-icon {
            position: absolute;
            top: 8px;
            left: 5px;
            line-height: 20px;
        }

        p {
            display: inline-block;
            padding-left: 15px;
        }
    }

    .btn-outline-danger {
        display: inline-block;
        text-align: right;
    }
}

/* @media screen and (max-width: 465px) {
    .btn-zone {
        //text-align: left;
    }
} */

// add slide
.add-item-block {
    text-align: center;
    margin-bottom: 40px;
    position: relative;

    .add-item {
        cursor: pointer;
        user-select: none;
        display: inline-block;

        &:disabled:hover::after {
            position: absolute;
            top: 0;
            width: 100%;
            left: 0;
            top: -65%;
            content: "Сначала добавьте общую длительность";
            font-size: 80%;
            color: #dc3545;
        }

        p:first-child {
            font-size: 30px;
            font-weight: bold;
            line-height: 20px;

        }

        p:last-child {
            padding-bottom: 10px;
            vertical-align: middle;
            padding-left: 3px;
        }

        p {
            display: inline-block;
            margin: 0;
        }
    }
}

.inside {
    @extend .add-item-block;

    .add-item {
        p:first-child {
            //Значок
            font-size: 25px;
            font-weight: bold;
            line-height: 20px;
            color: #000;
            opacity: .5;
        }

        p:last-child {
            //Текст
            padding-bottom: 8px;
            vertical-align: middle;
            padding-left: 0;
            color: #4b4b4b
        }

        p {
            font-size: 0.9rem;
            display: inline-block;
            margin: 0;
        }
    }
}


// SLIDER LOGO
.attach-block{
.form-control-file {
    display: none;
}
}

.attach-block.for-logo,
.attach-block.extra {
    margin-bottom: 30px;
    position: relative;
    .form-control-file {
        display: none;
    }

    .my-file-input {
        cursor: pointer;
        display: flex;
        height: 33px;

        ion-icon {
            position: absolute;
            left: -8px;
            top: 3px
        }

        P {
            display: inline-block;
            border-bottom: 2px dotted #a19d94;
            line-height: 31px;
            margin-left: 20px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: fit-content;
        }
    }
}

.attach-block.for-logo {
    margin-bottom: 40px;
    h5 {
        display: inline-block;
        border-bottom: 2px dotted #a19d94;
        line-height: 29px;
        margin-left: 26px;
        height: 30px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: fit-content;
    }

    .my-file-input {
        width: 100%;
    }

}

.attach-block.for-product {
    position: relative;
    .my-file-input {
        cursor: pointer;
        display: flex;
        user-select: none;
        background-color: #fff;
        width: 100%;
        z-index: 100;
        position: relative;

        ion-icon {
            width: 22px;
            color: #636363;
            position: absolute;
            left: 0px;
        }

        P {
            display: inline-block;
            border-bottom: 2px dotted #a19d94;
            line-height: 29px;
            margin-left: 26px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: fit-content;
        }
    }
}


.form-check.for-logo {
    margin-bottom: 19px;
}

.solo-check {
    margin-bottom: 15px;
}

//Product .mini-block

.product-block {
    padding: 13px 7px 7px 7px;
    border-radius: 7px;
    background-color: #ffffff;
    margin-bottom: 15px !important;
    margin-top: 20px;

    .form-row:nth-child(1) {
        margin-bottom: 10px;
    }

    .form-row:nth-child(2) .col-12 {
        position: relative;
        z-index: 10;
    }

    .form-row:nth-child(3) .col {
        position: relative;
        z-index: 100;
    }
}

;

.delete-item {
    height: 100%;
    text-align: center;

    .close {
        //position:re;
        float: none;
        text-align: center;
        display: inline-block;
        position: relative;
        width: 36px;
        height: 16px;
        opacity: 0.5;
        cursor: pointer;
    }

    .close:hover {
        opacity: 1;
    }

    .close:before,
    .close:after {
        position: absolute;
        left: 7px;
        left: 50%;
        content: ' ';
        height: 16px;
        width: 2px;
        background-color: #333;
    }

    .close:before {
        transform: rotate(45deg);
    }

    .close:after {
        transform: rotate(-45deg);
    }
}

@media (max-width: 576px) {
    .product-block .col-12 {
        margin-bottom: 7px;
    }
}

//Validation-message
.duration-message{
    position: absolute;
    width: 100%;
    height: 20px;
    left: 0;
    top: -50%;
    font-size: 80%;
    color: #dc3545;
}
.main-btn{
    position: relative;
}