h5 {
  display: inline-block;
}

.main {
  padding-top: 30px;
}

.duration-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.duration-main__title {
  width: 80%;
}

.main-settings > * {
  margin-bottom: 10px;
}

.wrapper {
  padding: 10px 10px;
}

.qty {
  width: 100px;
  margin: auto 0;
  text-align: right;
}

.qty .count {
  color: #000;
  display: inline-block;
  vertical-align: top;
  font-size: inherit;
  font-weight: 700;
  line-height: 25px;
  padding: 0 2px;
  min-width: 35px;
  text-align: center;
}

.qty .plus {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: white;
  width: 25px;
  height: 25px;
  line-height: 22px;
  font-weight: 700;
  text-align: center;
  border-radius: 50%;
}

.qty .minus {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: white;
  width: 25px;
  height: 25px;
  line-height: 22px;
  font-weight: 700;
  text-align: center;
  border-radius: 50%;
  background-clip: padding-box;
}

.minus:hover {
  background-color: #717fe0 !important;
}

.plus:hover {
  background-color: #717fe0 !important;
}

/*Prevent text selection*/
.counter span {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.counter input {
  border: 0;
  width: 2%;
}

.counter input::-webkit-outer-spin-button,
.counter input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.counter input:disabled {
  background-color: transparent;
}

.format-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.format-video h5 {
  margin-right: 10px;
}

.format-video__change {
  display: inline-block;
}

.format-video__preview {
  margin-left: 20px;
  display: inline-block;
  width: 60px;
  height: 30px;
  position: relative;
}

.format-video__preview div {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid orange;
}

.format-video__preview .square {
  height: 100%;
  width: calc(100% / 2);
}

.format-video__preview .rectangle16x9 {
  width: calc((100% / 2) * (16/9));
  height: 100%;
}

.format-video__preview .rectangle9x16 {
  width: calc((100%/2) * (9 / 16));
  height: 100%;
}

.more-colors input[type=checkbox] {
  height: 20px;
  width: 20px;
  padding-right: 10px;
}

.more-colors .form-check-label {
  padding-left: 10px;
  width: 100%;
}

.video-slide {
  background-color: #ffdfa4;
  border-radius: 5px;
  height: 400px;
}

.video-slide__change {
  display: inline-block;
  width: auto;
  margin-left: 15px;
}

.video-slide .title-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.video-slide .title-line .right-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video-slide .title-line .right-title .duration-title {
  display: inline-block;
  margin-bottom: 4px;
  margin-right: 10px;
}

.video-slide .title-line .right-title .counter {
  display: inline-block;
}
/*# sourceMappingURL=style.css.map */